.container{
    border: 5px solid #ff9900;
    display:flex; 
    
    width: 200px;
    height:200px;
    max-width: 20rem;
    
    margin:30px 50px;
    float: left;
    
    overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
}